@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-01-primary: rgb(255, 255, 255);
  --clr-formbackground: rgb(230, 230, 230);

  --gradient--btn: linear-gradient(
    120deg,
    #2faae3 0%,
    #c968ff 35%,
    #e680b1 75%,
    #fb9475 100%
  );
  --shdow-primary: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Global elements styles */
.btn {
  width: 350px;
  padding: 10px 30px;
  margin: 20px 0px;
  border: none;
  font-size: 1.5rem;
  border-radius: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  background: var(--gradient--btn);
  box-shadow: var(--shdow-primary);
}

.navigationText {
  font-size: 0.9rem;
}

.link {
  text-decoration: none;
  color: #c968ff;
}

.link:active {
  color: #ff0000;
}

/* # - Splash Screen Style */
.splashScreenPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-01-primary);
}

@keyframes splashScreenOne {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes splashScreenTwo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.splashScreenPage .img {
  width: 130px;
  aspect-ratio: 1;
  animation-name: splashScreenOne, splashScreenTwo;
  animation-duration: 1s, 650ms;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 0.5s;
  animation-fill-mode: forwards, none;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
}

.splashScreenPage img {
  width: 100%;
}

/* # - registration/login page styles */
.RegistrationPage,
.LoginPage,
.OtpVerificationPage,
.ForgotPasswordPage,
.ResetPasswordPage {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-01-primary);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* welcome text and img style */
.LoginPage .welcome,
.RegistrationPage .welcome {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginPage .welcomeText,
.RegistrationPage .welcomeText {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LoginPage .welcomeText h2,
.RegistrationPage .welcomeText h2 {
  font-size: 1.8rem;
}

.LoginPage .welcomeImg,
.RegistrationPage .welcomeImg {
  width: 35vw;
}

.LoginPage .welcomeImg img,
.RegistrationPage .welcomeImg img {
  width: 100%;
}

.RegistrationPage .logo,
.LoginPage .logo,
.ForgotPasswordPage .logo,
.ResetPasswordPage .logo {
  width: 5rem;
  margin: 10px;
}

.RegistrationPage .logo img,
.LoginPage .logo img,
.ForgotPasswordPage .logo img,
.ResetPasswordPage .logo img {
  width: 100%;
}

/* # - registration/login form styles */

/* logo & page title */
.RegistrationPage .pageTitle,
.LoginPage .pageTitle,
.OtpVerificationPage .pageTitle,
.ForgotPasswordPage .pageTitle,
.ResetPasswordPage .pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.OtpVerificationPage h2 {
  margin-bottom: 15px;
}

.OtpVerificationPage p {
  text-align: center;
}

/* form and container styles */
.RegistrationPage .formContainer,
.LoginPage .formContainer,
.OtpVerificationPage .formContainer,
.ForgotPasswordPage .formContainer,
.ResetPasswordPage .formContainer {
  flex-basis: 50%;
  max-width: 500px;
  padding: 30px 30px;
  margin-inline: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-formbackground);
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.RegisterForm,
.loginForm,
.ForgotPasswordForm,
.ResetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

/* form inputs style */
.RegisterForm .inputs,
.loginForm .inputs,
.ForgotPasswordForm .inputs,
.ResetPasswordForm .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.OtpForm .inputs {
  display: flex;
  justify-content: center;
}

.RegisterForm .inputs input,
.loginForm .inputs input,
.ForgotPasswordForm .inputs input,
.ResetPasswordForm .inputs input {
  width: 350px;
  padding: 13px 13px 13px 50px;
  margin: 5px 0px;
  border: none;
  font-size: 1rem;
  border-radius: 0.6rem;
  box-shadow: var(--shdow-primary);
}

.RegisterForm .inputs input:focus,
.loginForm .inputs input:focus,
.OtpVerificationPage .inputs input:focus,
.ForgotPasswordPage .inputs input:focus,
.ResetPasswordPage .inputs input:focus {
  outline: 4px solid #ca68ff79;
}

.RegisterForm .inputContainer,
.loginForm .inputContainer,
.ForgotPasswordForm .inputContainer,
.ResetPasswordForm .inputContainer {
  position: relative;
}

.RegisterForm .inputContainer .icon,
.loginForm .inputContainer .icon,
.ForgotPasswordForm .inputContainer .icon,
.ResetPasswordForm .inputContainer .icon {
  position: absolute;
  height: 100%;
  margin: 0 18px;
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
}

.OtpVerificationPage input {
  width: 45px;
  height: 45px;
  margin: 20px 5px;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--shdow-primary);
}

.RegisterForm .inputCheckbox,
.loginForm .inputCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 10px;
}

.RegisterForm .inputCheckbox input,
.loginForm .inputCheckbox input {
  width: 15px;
  height: 15px;
  margin: 0;
  outline: none;
}

.RegisterForm .inputCheckbox label,
.loginForm .inputCheckbox label {
  margin-left: 3px;
  line-height: 1;
}

.forgotPassword {
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.resedOTP {
  text-align: right;
  margin-right: 20px;
}

.termsAndConditions {
  font-size: 0.8rem;
}

/* # - profile component style */
.profile {
  width: 7rem;
  position: relative;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
}

.profile [type="file"] {
  display: none;
}

.RegistrationPage .profile::before,
.LoginPage .profile::before {
  content: "+";
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #ff0000;
  width: 26px;
  height: 26px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 820px) {
  .LoginPage .welcome,
  .RegistrationPage .welcome {
    display: none;
    flex-basis: 0%;
  }

  .RegistrationPage .formContainer,
  .LoginPage .formContainer,
  .OtpVerificationPage .formContainer,
  .ForgotPasswordPage .formContainer {
    flex-basis: 100%;
    max-width: none;
    width: 100vw;
    border: none;
    padding: 20px 0px;
    margin: 0;
    margin-bottom: 0px;
    height: 100vh;
  }

  .LoginPage .formContainer,
  .RegistrationPage .formContainer {
    justify-content: flex-start;
    padding-top: 5vh;
  }

  .OtpVerificationPage .formContainer,
  .ForgotPasswordPage .formContainer {
    justify-content: flex-start;
    padding-top: 10vh;
  }

  .RegisterForm,
  .loginForm,
  .OtpForm,
  .ForgotPasswordForm {
    max-width: 90vw;
    margin: 0;
  }

  .RegisterForm .inputs input,
  .loginForm .inputs input,
  .ForgotPasswordForm .inputs input {
    max-width: 90vw;
    padding: 15px 15px 15px 50px;
    margin: 8px 0px;
    font-size: 1.3rem;
  }

  .RegisterForm button,
  .loginForm button,
  .OtpForm button,
  .ForgotPasswordForm button {
    max-width: 90vw;
  }
}
/*Home page style*/
.HomePage {
  display: flex;
  position: fixed;
}

.right {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*Profile page style*/

.Profilepage {
  display: flex;
}
.right {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  display: flex;
}
.s {
  background: blanchedalmond;
  display: flex;
  position: absolute;
}

/*Transaction page style*/
.transactionpage {
  display: flex;
}
.right {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  display: flex;
}
.e {
  background: blanchedalmond;
  display: flex;
  position: absolute;
}

.GroupPage {
  display: flex;
}
.d {
  background: blanchedalmond;
  display: flex;
  position: absolute;
}
.transactionpage {
  width: 100vw;
  height: 100vh;
}

/*sidebar  style*/
.container {
  width: 30%;
  height: 100vh;

  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  padding: 40px;
  height: 100%;
  background-color: #ffffff;
  flex-direction: column;
}
.right {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.home {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  /* background-color: aqua; */
  justify-content: space-between;
}
.home .tg {
  width: 70%;
  padding-bottom: 10px;

  /* background-color: blue; */
}
.home a div img {
  width: 50px;
}

.transaction .tg {
  padding-bottom: 10px;
  /* background-color: blue; */
  width: 70%;
  /* background-color: blue; */
}
.group .tg {
  padding-bottom: 10px;
  /* background-color: blue; */
  width: 70%;
  /* background-color: blue; */
}
.personal .tg {
  /* background-color: blue; */
  width: 70%;
  /* background-color: blue; */
}
.home p {
  padding: 24px;
  /* color: ; */
}
.transaction p {
  padding: 24px;
}
.group p {
  padding: 24px;
}
.personal p {
  padding: 24px;
}

.transaction {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  /* background-color: aqua; */
  justify-content: space-between;
}
.group {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  padding-bottom: 10px;
  justify-content: space-between;
}
.personal {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  /* background-color: aqua; */
  justify-content: space-between;
}
.upper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.isactive {
  color: #2faae3;
}
.line {
  width: 4px;
  background-color: aliceblue;
  height: 90%;
  display: block;
  border-radius: 20px;
  position: fixed;
  left: 20%;
}

a {
  text-decoration: none;
  color: #888888;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
}

/*Home page style*/
.up {
  width: 100%;
  height: 40%;
  position: absolute;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
}
.down {
  width: 100%;
  top: 39%;
  height: 60%;
  /* background-color: antiquewhite; */
  position: absolute;
  overflow: auto;
  /* background-color: antiquewhite; */
}

.credit {
  width: 60%;
  height: 70%;
  border-radius: 30px;
  background: linear-gradient(
    99.2deg,
    #2faae3,
    #c968ff 33.33%,
    #e680b1 66.67%,
    #fb9475
  );
}
.middle {
  width: 95%;
  background-color: aliceblue;
  height: 4px;
  border-radius: 20px;
  position: fixed;
  top: 38%;
  z-index: -11;
}
.side1 {
  /* background-color: #c968ff; */
  width: 42%;
  height: 90%;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: linear-gradient(
    99.2deg,
    #2faae3,
    #c968ff 33.33%,
    #e680b1 66.67%,
    #fb9475
  );
}
.txt {
  display: flex;
  justify-content: flex-start;
  /* background-color: aqua; */
  width: 70%;
}
.side1 .txt p {
  padding-bottom: 40px;
}
.side2 {
  /* background-color: #cfabe2; */
  width: 42%;
  height: 90%;
}
.detail {
  height: 10%;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: #ffffff;
  width: 75vw;
  z-index: 1111;
  font-family: "Montserrat", sans-serif;
}
.detail2 {
  height: 90%;
  /* display: flex; */
  /* background-color: #d1d1d1; */
  align-items: center;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  justify-content: center;
  color: #888888;
}
.detail2 div {
  align-items: center;
  position: absolute;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  top: 50%;
}
.trans p {
  padding-left: 20px;
  font-size: 20px;
}
.viewall p {
  padding-left: 70%;
}
.trans {
  width: 50%;
}
.viewall {
  width: 50%;
  font-size: 14px;
  color: #c968ff;
  cursor: pointer;
}

.c1 {
  width: 100%;
  height: 33%;
  /* background-color: aqua; */
  display: flex;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: white;
}

.c2 {
  width: 100%;
  /* background-color: brown; */
  height: 33%;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: white;
}

.c3 {
  width: 100%;
  /* background-color: #fb9475; */
  height: 33%;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
}
.income {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.incomevalue {
  padding: 10px;
}
.expense {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.expensevalue {
  padding: 10px;
}
.detail2 div {
  display: grid;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.add img {
  display: none;
}
.im img {
  width: 50px;
}

.plink {
  transition: all 0.5s ease-in-out;

  font-size: 25px;
}
.glink {
  transition: all 0.5s ease-in-out;
  font-size: 25px;
}
.tlink {
  transition: all 0.5s ease-in-out;
  font-size: 25px;
}
.hlink {
  transition: all 0.5s ease-in-out;
  font-size: 25px;
}
/*groups page style*/

@media (max-width: 768px) {
  /* CSS styles specific to mobile screens */
  .tg {
    display: none;
  }
  .HomePage {
    display: flex;
    width: 100vw;
    position: fixed;

    flex-direction: column;
  }
  .lower {
    display: flex;
  }
  .container {
    width: 100vw;
    height: 0;
  }
  .line {
    display: none;
  }
  .left {
    display: block;
    padding: 0;
    position: unset;
    width: 100vw;
  }
  .lower {
    display: flex;
    flex-direction: row;
    z-index: 101;
    /* box-shadow: 0px 30px 89px black; */
    width: 100vw;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    height: 70px;
    bottom: 0;
    background: #dfdfdf;
    padding: 11px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .right {
    width: 100vw;

    height: 100vh;
    display: flex;
  }
  .upper {
    display: block;
  }
  .side1 {
    width: 100%;
    top: 30px;
    position: fixed;
    height: 45%;
    background-color: white;
  }
  .txt {
    justify-content: flex-end;
    width: 100px;
  }
  .side2 {
    display: none;
  }
  .down {
    height: 44%;
    position: top;
    position: absolute;
    top: 46%;
  }
  .personal .im {
    width: 30px;
  }
  .detail {
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 11;
  }
  .middle {
    position: fixed;
  }
  .up {
    height: 45%;
    position: fixed;
    z-index: 100;
    background-color: white;
  }
  .logo-cont img {
    width: 70px;
    position: relative;
    top: 11px;
    left: 9%;
  }

  .detail2 div {
    display: grid;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
  }
  .credit {
    width: 84%;
    height: 58%;

    border-radius: 30px;
    background: linear-gradient(
      99.2deg,
      #2faae3,
      #c968ff 33.33%,
      #e680b1 66.67%,
      #fb9475
    );
  }
  .logo-cont {
    position: fixed;
    left: 25px;
    z-index: 101;
  }
  .im img {
    width: 40px;
  }
  .home a .im img {
    width: 35px;
  }

  .add .ad {
    display: block;
    width: 70px;
    position: relative;
  }
  .add .plus {
    display: block;
    width: 70px;
    position: relative;

    width: 40px;
    top: -55px;
    left: 14px;
  }
  .side1 .txt p {
    padding-bottom: 40px;
    position: fixed;
    top: 30px;
  }

  .add {
    position: relative;
    top: -30px;
  }
  .viewall p {
    padding-left: 52%;
    color: #c968ff;
  }
  .txt {
    justify-content: flex-end;
    width: 263px;
  }

  .personal img {
    width: 37px;
    position: relative;
    top: -8px;
  }
  .home img {
    width: 37px;
    position: relative;
    top: -4px;
  }
  .group img {
    width: 47px;
    position: relative;
    top: -4px;
  }
}
