* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-01-primary: rgb(255, 255, 255);
}

/* Splash Screen Style */
.splashScreenPage {
  height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-01-primary);
}

.splashScreenPage .img {
	width: 130px;
	aspect-ratio: 1;
}

.splashScreenPage img {
	width: 100%;
}
